<div class="container w-100">
    <div class="row w-100 mt-5">
        <div class="col-md-12">
            <h1 class="text-monospace text-center"> Sejam bem vindos ao meu blog! </h1>

        </div>

    </div>
    <div class="row w-100 mt-4 mb-4">
        <div class="col-md-12">
            <p class="text-justify text-monospace">
                E agora pedem-me que fale sobre mim mesmo. Bem! eu sempre achei que toda confissão não transfigurada pela arte é indecente. Minha vida está nos meus poemas, meus poemas são eu mesmo, nunca 
                escrevi uma vírgula que não fosse uma confissão. Mas o que querem são detalhes, cruezas, fofocas.
                E agora pedem-me que fale sobre mim mesmo. nunca escrevi uma vírgula que não fosse uma confissão. Ah! mas o que querem são detalhes, cruezas, fofocas...Aí vai!
                Criticam tudo, e quero dizer mesmo tudo, sobre mim: o meu comportamento, a minha personalidade, as minhas maneiras; cada centímetro de mim, da cabeça aos pés, dos pés à cabeça, é objecto de mexericos e debates. São-me constantemente lançadas palavras duras e gritos,
                embora eu não esteja habituada a isso. Segundo as autoridades definidas, eu devia sorrir e aguentar.
            </p>
        </div>
    </div>
</div>
    <div class="paralaxx"></div>

    <div class="row  w-100 mt-5 mb-5">
        <div class="col-md-12 w-100 d-flex justify-content-center">
            <button class="btn btn-outline-dark text-uppercase font-weight-bold">Feed</button>
        </div>
    </div>


