<div class="card border-0" style="width: 18rem;">
    <div class="d-flex justify-content-center">
       <img class="card-img-top rounded-circle w-75" src="assets/Foto de Thaina Da Silva.jpg" alt="Thaina da Silva">
    </div>

    
    <div class="card-body">
      <h5 class="card-title text-center text-monospace">Poemas Thaina</h5>
      <p class="card-text text-center text-monospace">Uma forma de se expressar através de um poema!</p>

      <a href="https://www.linkedin.com/in/thaina-silva-07a3ba136/" class="btn btn-outline-info 
      mb-3 d-flex justify-content-center" target="_black">LinkedIn</a>
      
      <a href="https://github.com/Thaina2405" class="btn btn-outline-dark d-flex justify-content-center" 
      target="_black">GitHub</a>
    </div>
  </div>
